@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  color: inherit;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #000000;
}

div.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.fold-container {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 1;
  width: 80px;
  height: 80px;
  background: transparent;
}

div.fold-container .github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
          animation: octocat-wave 560ms ease-in-out;
}

@media (max-width: 480px) {
  div.fold-container .github-corner:hover .octo-arm {
    -webkit-animation: none;
            animation: none;
  }
  div.fold-container .github-corner .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
            animation: octocat-wave 560ms ease-in-out;
  }
}

@-webkit-keyframes octocat-wave {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%, 60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes octocat-wave {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%, 60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

div.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (160px)[5];
      grid-template-rows: repeat(5, 160px);
  -ms-grid-columns: (160px)[9];
      grid-template-columns: repeat(9, 160px);
  gap: 32px;
  background: inherit;
}

div.grid-container .card {
  cursor: pointer;
  position: relative;
}

div.grid-container .card p {
  font-size: 8em;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

div.grid-container .card svg {
  position: absolute;
  top: 0%;
  left: 0%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.miss {
  display: block;
}

div.score-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 730px;
  height: auto;
  border-radius: 25px;
  padding-bottom: 15px;
  -webkit-transition: opacity 0.45s ease, -webkit-clip-path 0.4s ease-in-out;
  transition: opacity 0.45s ease, -webkit-clip-path 0.4s ease-in-out;
  transition: clip-path 0.4s ease-in-out, opacity 0.45s ease;
  transition: clip-path 0.4s ease-in-out, opacity 0.45s ease, -webkit-clip-path 0.4s ease-in-out;
  background: #FFFFFF;
  color: #000000;
}

div.score-container h1 {
  color: #007DDC;
  text-align: center;
  margin: 10px 0 0;
  font-size: 4em;
  font-weight: bold;
}

div.score-container h1.game-pass {
  color: #3ECB89;
}

div.score-container h1.game-fail {
  color: #DF4747;
}

div.score-container div.accuracy {
  margin: 0px 25px 25px;
  padding: 0 10px;
  border-radius: 25px;
}

div.score-container div.accuracy ul h2 {
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
  text-align: left;
}

div.score-container div.accuracy ul li {
  margin-left: 15px;
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.score-container div.accuracy ul li p.value {
  font-weight: bold;
}

div.score-container div.accuracy ul li:nth-child(2) p.txt {
  font-weight: bold;
}

div.score-container div.accuracy ul li:nth-child(2) p.value {
  color: #007DDC;
}

div.score-container div.accuracy ul li:nth-child(3) p.txt {
  margin-left: 20px;
}

div.score-container div.accuracy ul li:nth-child(3) p.value {
  color: #3ECB89;
}

div.score-container div.accuracy ul li:nth-child(4) p.txt {
  margin-left: 20px;
}

div.score-container div.accuracy ul li:nth-child(4) p.value {
  color: #DF4747;
}

div.score-container div.time {
  margin: 0px 25px 25px;
  padding: 0 10px;
  border-radius: 25px;
}

div.score-container div.time ul h2 {
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
  text-align: left;
}

div.score-container div.time ul li {
  margin-left: 15px;
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.score-container div.time ul li p.value {
  font-weight: bold;
  color: #007DDC;
}

div.score-container div.time ul li:nth-child(2) p.txt {
  font-weight: bold;
}

div.score-container div.time ul li:nth-child(3) p.txt {
  margin-left: 20px;
}

div.score-container div.time ul li:nth-child(4) p.txt {
  margin-left: 20px;
}

div.score-container .showcards-btn {
  display: block;
  margin: 0 auto;
  padding: 5px 0;
  width: 90%;
  height: auto;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  background: #000000;
  border: none;
  border-radius: 25px;
  font-size: 1.7em;
  -webkit-transition: background 0.25s ease;
  transition: background 0.25s ease;
}

div.score-container .showcards-btn:hover {
  background: #1a1a1a;
}

div.score-container .retry-btn {
  display: block;
  margin: 10px auto;
  padding: 5px 0;
  width: 90%;
  height: auto;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  background: #000000;
  border: none;
  border-radius: 25px;
  font-size: 1.7em;
  -webkit-transition: background 0.25s ease;
  transition: background 0.25s ease;
}

div.score-container .retry-btn:hover {
  background: #1a1a1a;
}

.score-hidden {
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
}

.score-visible {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.score-opaque {
  opacity: 1;
}

.score-transparent {
  opacity: 0.3;
}

.game-pass {
  color: #3ECB89;
}

.game-fail {
  color: #DF4747;
}
/*# sourceMappingURL=style.css.map */